* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --white-colour: #f8fafc;
  --light-colour: #e2e8f0;
  --sidebar-colour: #334155;
  --button-colour: #1e293b;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* ========= Sidebar ========= */
section.sidebar {
  min-height: 100vh;
  padding: 20px;
  background-color: var(--sidebar-colour);
  grid-row: 1 / -1;
  color: var(--white-colour);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar-pages ul,
.sidebar-settings ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sb-item {
  display: flex;
  gap: 15px;
  align-items: center;
  color: var(--white-colour);
  text-decoration: none;
}

.sb-item img {
  width: 20px;
}

/* ========= Header ========= */
section.header {
  grid-row: 1 / 1;
  display: grid;
  grid-template-rows: 40% 60%;
  padding: 0px 50px;
}

.icon {
  width: 20px;
  cursor: pointer;
}

.header .top-half,
.header .bottom-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .top-half {
  gap: 20%;
}

.search-container {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
}

.search-input {
  background-color: var(--light-colour);
  width: 100%;
  padding: 6px 12px;
  border: 0px solid var(--light-colour);
  border-radius: 16px;
}

.account-top {
  display: flex;
  gap: 10px;
}

.user-actions {
  display: flex;
  gap: 30px;
}

.user-actions button {
  color: white;
  background-color: var(--button-colour);
  padding: 8px 32px;
  border: solid #1e293b;
  border-radius: 32px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s linear;
}

.user-actions button:hover {
  background-color: var(--sidebar-colour);
  border-color: var(--sidebar-colour);
}

/* ========= Main ========= */
section.main {
  grid-row: 2 / 2;
  background-color: var(--light-colour);
}
