* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --white-colour: #f8fafc;
  --light-colour: #e2e8f0;
  --sidebar-colour: #334155;
  --button-colour: #1e293b;
  --semi-light-colour: #475560;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
 h1, h2, h3, h4, h5, h6 {
   color: var(--button-colour);
 }

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 150px 1fr;
}

/* ========= Sidebar ========= */
section.sidebar {
  min-height: 100vh;
  padding: 20px;
  background-color: var(--sidebar-colour);
  grid-row: 1 / -1;
  color: var(--white-colour);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar h1,
.sidebar li {
  color: var(--white-colour);
}

.sidebar-pages ul,
.sidebar-settings ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sb-item {
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
}

.sb-item img {
  width: 20px;
}

/* ========= Header ========= */
section.header {
  grid-row: 1 / 1;
  display: grid;
  grid-template-rows: 40% 60%;
  padding: 0px 50px;
  box-shadow: 0px 5px 16px rgb(0 0 0 / 20%);
  z-index: 2;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.profile-pic {
  border: 3px solid var(--light-colour);
  border-radius: 50%;
}

.header .top-half,
.header .bottom-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .top-half {
  gap: 20%;
}

.search-container {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
}

.search-input {
  background-color: var(--light-colour);
  width: 100%;
  padding: 6px 12px;
  border: 0px solid var(--light-colour);
  border-radius: 16px;
}

.account-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.account-top .profile-pic {
  width: 32px;
}

.user-actions {
  display: flex;
  gap: 30px;
}

.user-actions button {
  color: white;
  background-color: var(--button-colour);
  padding: 8px 32px;
  border: solid #1e293b;
  border-radius: 32px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s linear;
}

.user-actions button:hover {
  background-color: var(--sidebar-colour);
  border-color: var(--sidebar-colour);
}

.account-bottom {
  display: grid;
  grid-template-rows: 1fr 1.2fr;
  grid-template-columns: 52px 1fr;
  column-gap: 20px;
}

.account-bottom .profile-pic {
  width: 52px;
  grid-row: 1 / -1;
}

/* ========= Main ========= */
section.main {
  grid-row: 2 / 2;
  background-color: var(--light-colour);
  padding: 0px 16px 16px 16px;
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 16px;
}

.main p {
  color: var(--semi-light-colour);
}

.main-section-container {
  padding-top: 32px;
  display: grid;
  grid-template-rows: 32px 1fr;
}

/* Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.card {
  height: 200px;
  display: grid;
  grid-template-rows: 1fr 40px;
  background-color: var(--white-colour);
  border-left: 8px solid var(--sidebar-colour);
  border-radius: 8px;
  padding: 8px 16px 8px 8px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 10%);
  z-index: 2;
  transition: background-color 0.1s ease-out;
}

.card p {
  font-size: 0.85rem;
}

.card:hover {
  background-color: #ffffff;
}

.card-icons {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.card-icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Right panel */
.announcements,
.trending {
  background-color: var(--white-colour);
  padding: 16px;
  border: solid var(--white-colour);
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 10%);
}

.announcements ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.announcements ul li {
  padding: 4px 0px;
  border-bottom: 1px solid var(--light-colour);
  padding: 10px 0px;
  cursor: pointer;
}

.announcements ul li:first-child {
  padding-top: 0;
}

.announcements ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.announcements ul li h4 {
  font-size: 0.85rem;
}

.announcements ul li p {
  font-size: 0.75rem;
}
